

{{ if not .IsHome }}

    {{ $headLine := .Title }}
    {{ $subHeadLine := "From Blogs" }}
    {{ if .Params.subtitle }}
        {{ $subHeadLine = .Params.subtitle }}
    {{ end }}
    <!-- Banner -->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2 style="text-transform: uppercase;">{{ $headLine }}</h2>   
                            <h3 style="font-family: Poppins;">{{ $subHeadLine }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{{ end }}


