<!--::footer_part start::-->
<div class="footer_top">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="single_footer_part">
                    <a href="index.html" class="footer_logo_iner"> <img src="/img/logo.png" alt="#"> </a>
                    <p>Bangalore, Chandigarh, Jaipur, New Delhi, Patna and Pune.</p>
                    {{/*  <ul class="list-unstyled">
                        <li><a href="mailto:40fy@dotkg.in">40fy@dotkg.in</a></li>
                        <li><a href="https://chat.whatsapp.com/GOwZDGt7CFq1gQHU3rtrmU" target="_blank">Whatsapp</a></li>
                        <li><a href="https://discord.gg/hSPKsyACfG" target="_blank">Discord</a> </li>
                    </ul>  */}}
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single_footer_part">
                    <h4>Meet Online</h4>
                    <ul class="list-unstyled">
                        <li><a href="https://discord.gg/hSPKsyACfG" target="_blank">Discord</a> </li>
                        <li><a href="https://chat.whatsapp.com/GOwZDGt7CFq1gQHU3rtrmU" target="_blank">Whatsapp</a></li>
                        <li><a href="https://instagram.com/mrdotkg" target="_blank">Instagram</a> </li>
                        <li><a href="mailto:40fy@dotkg.in">40fy@dotkg.in</a></li>
                    </ul>

                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single_footer_part">
                    <h4>Read More</h4>
                    <ul class="list-unstyled">
                        <li><a href="/aboutus">About Us</a></li>
                        <li><a href="/authors">Authors</a></li>
                        <li><a href="/guideline">Guidelines</a></li>
                        <li><a href="/terms">Terms and Privacy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single_footer_part">
                    <h4>Newsletter</h4>
                    <p>Get our latest blog posts directly in your inbox. We don't spam/sell. </p>
                    <div id="mc_embed_signup">
                        <form target="_blank"
                            action="https://dotkg.us17.list-manage.com/subscribe/post?u=3d9c155e90cc9fb0bd70497b1&amp;id=a8c20a22cb&amp;f_id=000cefe3f0"
                            method="post" class="subscribe_form relative mail_part">
                            <input type="email" name="email" id="newsletter-form-email"
                                placeholder="Email Address" class="placeholder hide-on-focus"
                                onfocus="this.placeholder = ''"
                                onblur="this.placeholder = ' Email Address '">
                            <button type="submit" name="submit" id="newsletter-submit"
                                class="email_icon newsletter-submit button-contactForm"><i
                                    class="far fa-paper-plane"></i></button>
                            <div class="mt-10 info"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copygight_text">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8">
                <div class="copyright_text">
                    <P>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Hugo template by <a href="https://dotkg.in" target="_blank">Mr Dot.</a></P>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="footer_icon social_icon">
                    <ul class="list-unstyled">
                        <li><a href="#" class="single_social_icon"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a hr ef="#" class="single_social_icon"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" class="single_social_icon"><i class="fas fa-globe"></i></a></li>
                        <li><a href="#" class="single_social_icon"><i class="fab fa-behance"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--::footer_part end::-->

<!-- jquery plugins here-->
<script src="/js/jquery-1.12.1.min.js"></script>
<!-- popper js -->
{{/*  <script src="/js/popper.min.js"></script>  */}}
<!-- bootstrap js -->
<script src="/js/bootstrap.min.js"></script>
<!-- easing js -->
<script src="/js/jquery.magnific-popup.js"></script>
<!-- swiper js -->
{{/*  <script src="/js/swiper.min.js"></script>  */}}
<!-- swiper js -->
{{/*  <script src="/js/masonry.pkgd.js"></script>  */}}
<!-- particles js -->
<script src="/js/owl.carousel.min.js"></script>
{{/*  <script src="/js/jquery.nice-select.min.js"></script>  */}}
<!-- slick js -->
{{/*  <script src="/js/slick.min.js"></script>  */}}
{{/*  <script src="/js/jquery.counterup.min.js"></script>  */}}
{{/*  <script src="/js/waypoints.min.js"></script>  */}}
{{/*  <script src="/js/contact.js"></script>  */}}
<script src="/js/jquery.ajaxchimp.min.js"></script>
{{/*  <script src="/js/jquery.form.js"></script>  */}}
{{/*  <script src="/js/jquery.validate.min.js"></script>  */}}
{{/*  <script src="/js/mail-script.js"></script>  */}}
<!-- custom js -->
<script src="/js/custom.js"></script>