{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
  <nav class="navbar navbar-light navbar-expand-lg">
    {{/*  logo   */}}
    <a class="navbar-brand" href="/"> <img src="/img/logo.png" alt="logo"> </a>
  
    {{/*  hamburger menu  */}}
    <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="menu_icon"><i class="fas fa-bars"></i></span>
    </button>
    <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
      <ul class="navbar-nav">
        {{- range . }}
          {{- $attrs := dict "href" .URL }}
          {{- if $page.IsMenuCurrent .Menu . }}
            {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
          {{- else if $page.HasMenuCurrent .Menu .}}
            {{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
          {{- end }}
          {{- $name := .Name }}
          {{- with .Identifier }}
            {{- with T . }}
              {{- $name = . }}
            {{- end }}
          {{- end }}
          
          {{- if .HasChildren }}
          {{/* Dropdown Menus    */}}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown1"
                {{- range $k, $v := $attrs }}
                  {{- with $v }}
                    {{- printf " %s=%q" $k $v | safeHTMLAttr }}
                  {{- end }}
                {{- end -}}
              >{{ $name }}</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                {{- range .Children }}
                  <li class="nav-item"><a class="nav-link dropdown-item" href="{{ .PageRef }}" target="_blank">{{ .Name }}</a></li>
                {{- end }}
              </ul>
          </li>
          {{- else}}
          {{/*  Simple Menus  */}}
          <li class="nav-item">
            <a class="nav-link"
              {{- range $k, $v := $attrs }}
                {{- with $v }}
                  {{- printf " %s=%q" $k $v | safeHTMLAttr }}
                {{- end }}
              {{- end -}}
            >{{ $name }}</a> 
          {{- end}}
        {{- end }}
      </ul>
    </div>
    
    {{/*  Call to Action  */}}
    <a target="_blank" href="https://discord.gg/hSPKsyACfG" class="btn_1 d-none d-sm-block"> 40FY Discord</a>
  </nav>
{{- end }}