{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
  <nav class="navbar justify-content-center navbar-light navbar-expand-lg">

    {{/*  website menu  */}}
    <button style="font-size:2.5rem;" class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="menu_icon">
        <i style="padding: 0 10px; color: red" class="fas fa-gamepad"></i>

      </span>
      </button>
    <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
      <ul class="navbar-nav">
        
        {{- range . }}
          {{- $name := .Name }}
          {{- $attrs := dict "href" .URL }}
          
          {{/*  Menu link attributes  */}}
          {{- if $page.IsMenuCurrent .Menu . }}
            {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
          {{- else if $page.HasMenuCurrent .Menu .}}
            {{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
          {{- end }}
          
          {{/* Menu link classes   */}}
          {{- $class := " " }}
          {{- if strings.Contains .URL $.cta }}
            {{- $class = "btn_1 d-block" }}
          {{- end }}

          {{- with .Identifier }}
            {{- with T . }}
              {{- $name = . }}
            {{- end }}
          {{- end }}
          
          {{- if .HasChildren }}
          {{/* Dropdown Menus    */}}
          <li class="nav-item" style="padding: 10px;">
            <input id="" 
            class="form-control mr-sm-2" 
            type="search" 
            placeholder="Search" 
            aria-label="Search">
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle {{ $class }} {{ $attrs.class }}" id="navbarDropdown1"
                {{- range $k, $v := $attrs }}
                  {{- with $v }}
                    {{- printf " %s=%q" $k $v | safeHTMLAttr }}
                  {{- end }}
                {{- end -}}
              >{{ $name }}</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                {{- range .Children }}
                  <li class="nav-item"><a class="nav-link dropdown-item" href="{{ .PageRef }}" target="_blank">{{ .Name }}</a></li>
                {{- end }}
              </ul>
          </li>
          {{- else}}
          {{/*  Simple Menus  */}}
          <li class="nav-item">
            <a class="nav-link {{ $class }}  {{ $attrs.class }}"
              {{- range $k, $v := $attrs }}
                {{- with $v }}
                  {{- printf " %s=%q" $k $v | safeHTMLAttr }}
                {{- end }}
              {{- end -}}
            >{{ $name }}</a> 
          </li>
          {{- end}}
        {{- end }}
        </ul>
    </div>
  </nav>
{{- end }}