{{ define "main" }}

<!--================Blog Area =================-->
<section class="blog_area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    {{ range .Paginator.Pages }}
                    <a href="{{ .RelPermalink }}">
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0  img-fluid" src="{{ .RelPermalink }}{{ .Params.image }}" alt="">
                                <p class="blog_item_date pull-sm-1">
                                    {{.Date| time.Format ":date_medium"}}</p>
                                </p>
                            </div>
  
                            <div class="blog_details">
                                <h3> {{ .LinkTitle }}</h3>
                                <p>{{ .Summary }}</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="far fa-bookmark"></i> Tags: {{ partial "taxonomy-terms-list.html" (dict "taxonomy" "tags" "page" .) }}</a></li>
                                </ul>
                            </div>
                        </article>
                    </a>
                    {{ end }}   
                    
                    {{ template "_internal/pagination.html" . }}

                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">All Categories</h4>
                        <ul class="list cat-list">
                            {{ range $key, $value := .Site.Taxonomies.categories }}
                                <li>
                                    <a class="d-flex" href="/categories/{{ $key | urlize  }}">
                                        <p>{{ $key | humanize }}</p>
                                        <p>({{ len $value }})</p>
                                    </a>
                                </li>
                            {{ end }}
                        </ul>
                    </aside>
                    <aside class="single_sidebar_widget tag_cloud_widget">
                        <h4 class="widget_title">All Tags</h4>
                        <ul class="list">
                        {{ range $key, $value := .Site.Taxonomies.tags }}
                           <li>
                              <a href="/tags/{{ $key | urlize  }}">{{ $key | humanize }} ({{ len $value }})</a>
                           </li>
                        {{ end }}
                        </ul>
                     </aside>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Area =================-->

{{/*  {{ template "_internal/pagination.html" . }}  */}}

{{ end }}
