{{ define "main" }}
<!--================Blog Area =================-->
   <section class="blog_area single-post-area section_padding">
    <div class="container">
       <div class="row">
          <div class="col-lg-8 posts-list">
             <div class="single-post">
               {{ with .Params.image }}
               <div class="feature-img">
                  <div class="blog_item_img">
                     <img class="card-img rounded-0 img-fluid" src="{{ . }}" alt="">
                  </div>
               </div>
               {{ end }}
               <div class="blog_details">
                   {{ .Content }}
                </div>
             </div>
             <div class="navigation-top">
                <div class="navigation-area">
                   <div class="row">
                     
                     <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                        {{ with .PrevInSection }} 
                           <div class="detials">
                           <p>Previous  </p>
                           <a href="{{ .Permalink }}">
                              <h4>{{ .Title }}</h4>
                           </a>
                        </div>
                        {{ end }}

                      </div>
                      
                      <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                        {{ with .NextInSection }}
                        <div class="detials">
                           <p>Next </p>
                           <a href="{{ .Permalink }}">
                               <h4>{{ .Title }}</h4>
                           </a>
                         </div>

                         {{ end }}

                      </div>
                     </div>
                </div>
             </div>

            <script src="https://giscus.app/client.js"
                  data-repo="mrdotkg/40fyweb"
                  data-repo-id="R_kgDOMT7UrQ"
                  data-category="Announcements"
                  data-category-id="DIC_kwDOMT7Urc4Cgw4y"
                  data-mapping="pathname"
                  data-strict="0"
                  data-reactions-enabled="1"
                  data-emit-metadata="0"
                  data-input-position="bottom"
                  data-theme="transparent_dark"
                  data-lang="en"
                  crossorigin="anonymous"
                  async>
            </script>
          </div>
          <div class="col-lg-4">
             <div class="blog_right_sidebar">
                <aside class="single_sidebar_widget popular_post_widget">
                  
                  <h3 class="widget_title">About This Post</h3>
                  
                  {{/*  Breadcrumbs  */}}
                  <nav aria-label="breadcrumb">
                     <ol class="breadcrumb" style="background-color: transparent;">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        {{- range .Ancestors.Reverse }}
                           {{- if not .IsHome}}   
                              <li class="breadcrumb-item"><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                           {{- end }}
                        {{- end }}
                        <li class="breadcrumb-item active" aria-current="page"> This Post</a></li>
                     </ol>
                  </nav>
                  
                  {{/*  Publish date  */}}
                  <h5> {{.Date| time.Format ":date_medium"}}</h5>
                  
                  
                  {{/*  Tags  */}}
                  <p>Tagged as<a href="#">{{ partial "taxonomy-terms-list.html" (dict "taxonomy" "tags" "page" .) }}</a></p>
                  <p>Post Category <a href="#">{{ partial "taxonomy-terms-list.html" (dict "taxonomy" "categories" "page" .) }}</a></p>
                                    
                  {{/*  Social Share   */}}
                  <div class="navigation-top d-flex justify-content-between text-center">
                     <h5>Share </h5>
                     <ul class="social-icons">
                        <li><a target="_blank" href="https://reddit.com/submit/?url={{ .Page.Permalink }}&resubmit=true&title=Awesome"><i class="fab fa-reddit"></i></a></li>
                        <li><a target="_blank" href="whatsapp://send?text=Awesome%20u={{ .Page.Permalink }}"><i class="fab fa-whatsapp"></i></a></li>
                        <li><a target="_blank" href="https://facebook.com/sharer/sharer.php?u={{- .Page.Permalink -}}"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a target="_blank" href="https://twitter.com/intent/tweet/?text=Super%20fast%20and%20easy%20Social%20Media%20Sharing%20Buttons.%20No%20JavaScript.%20No%20tracking.&amp;url={{ .Page.Permalink }}"><i class="fab fa-twitter"></i></a></li>
                     </ul>
                  </div>
               </aside>
               {{ if .Params.authors }}
               <aside class="single_sidebar_widget popular_post_widget">
                  {{/*  Author  */}}
                  <h3 class="widget_title">Author(s)</h3>
                  {{- range .Params.authors }}
                  {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
                  <a href="{{ .Permalink }}">
                     <div class="blog-author media align-items-center">
                        <img src="{{ .Params.photo }}" alt="">
                        <div class="media-body">
                           <h4>{{ .Params.title }}</h4>
                           <p>{{ .Params.subtitle }} </p>
                        </div>
                     </div>
                     <p>{{ .Summary}}</p>
                     <div class="navigation-top d-flex justify-content-between text-center">
                        <h5>Follow </h5>
                        <ul class="social-icons">
                           <li><a target="_blank" href="https://www.linkedin.com/in/mrdotkg"><i class="fab fa-steam"></i></a></li>
                           <li><a target="_blank" href="https://www.linkedin.com/in/mrdotkg"><i class="fab fa-linkedin"></i></a></li>
                           <li><a target="_blank" href="https://github.com/mrdotkg"><i class="fab fa-github"></i></a></li>
                           <li><a target="_blank" href="https://www.instagram.com/mrdotkg"><i class="fab fa-instagram"></i></a></li>
                           <li><a target="_blank" href="https://www.youtube.com/@mrdotkg"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                     </div>
                  </a>
                  {{ else }}
                     <a>
                        <div class="blog-author media align-items-center">
                           <img src="" alt="">
                           <div class="media-body">
                              <h4>{{ . }}</h4>
                              <p>Bio missing.</p>
                           </div>
                        </div>
                        <p>Summary is not available</p>
                        <div class="navigation-top d-flex justify-content-between text-center">
                           <h5>Follow </h5> 
                           <ul class="social-icons">
                              <li><p>No social links</p></li>
                           </ul>
                        </div>
                           
                     </a> 
                     {{ end }}
                  {{ end }}
         
               </aside>
               {{ end }}

             </div>
          </div>
       </div>
    </div>
 </section>
 <!--================Blog Area end =================-->

{{ end }}
