{{ define "main" }}

<!--================Blog Area =================-->
<section class="blog_area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog_right_sidebar">
                    {{ range .Pages }}
                    <a href="{{ .Permalink }}">
                        <aside class="single_sidebar_widget tag_cloud_widget">
                            <h4>{{ .LinkTitle }}</h4>
                        </aside> 
                    </a>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Area =================-->

{{/*  {{ template "_internal/pagination.html" . }}  */}}

{{ end }}
