{{ define "main" }}

     <!-- breadcrumb start-->
   <section class="breadcrumb breadcrumb_bg">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <div class="breadcrumb_iner text-center">
                   <div class="breadcrumb_iner_item text-center" >
                     <h2>Blog</h2>
                     <h3>{{.Title}}</h3>
                   </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- breadcrumb start-->


   <!--================Blog Area =================-->
   <section class="blog_area single-post-area section_padding">
    <div class="container">
      <nav aria-label="breadcrumb">
         <ol class="breadcrumb" style="background-color: transparent;">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            {{- range .Ancestors.Reverse }}
               {{- if not .IsHome}}   
                  <li class="breadcrumb-item"><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
               {{- end }}
            {{- end }}
            <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</a></li>
         </ol>
      </nav>

       <div class="row">
          <div class="col-lg-8 posts-list">
             <div class="single-post">
               <div class="feature-img">
                  <img class="/img-fluid" src="/img/blog/single_blog_1.png" alt="">
                  
               </div>
               <div class="blog_details">
                   <h2>{{.Title}}</h2>
                   <ul class="blog-info-link mt-3 mb-4">
                     <li><a href="#"><i class="far fa-clock"></i> {{.Date| time.Format ":date_medium"}}</a></li>  
                     <li><a href="#"><i class="far fa-bookmark"></i> Tags: {{ partial "tagslist.html" (dict "taxonomy" "tags" "page" .) }}</a></li>
                   </ul>
                   {{ .Content }}

                </div>
             </div>
             <div class="navigation-top">
                <div class="d-sm-flex justify-content-between text-center">
                   <ul class="social-icons">
                     <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                     <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                     <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                     <li><a href="#"><i class="fab fa-behance"></i></a></li>
                  </ul>
                </div>
                <div class="navigation-area">
                   <div class="row">
                     {{ with .PrevInSection }} 
                     <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                        <div class="thumb">
                           <a href="{{ .Permalink }}">
                              <img class="/img-fluid" src="/img/post/preview.png" alt="">
                           </a>
                           </div>
                           <div class="arrow">
                              <a href="{{ .Permalink }}">
                                 <span class="lnr text-white ti-arrow-left"></span>
                              </a>
                           </div>
                           <div class="detials">
                           <p>Prev Post</p>
                           <a href="{{ .Permalink }}">
                              <h4>{{ .Title }}</h4>
                           </a>
                        </div>
                      </div>
                      {{ end }}
                      {{ with .NextInSection }}
                      <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                         <div class="detials">
                           <p>Next Post</p>
                           <a href="{{ .Permalink }}">
                               <h4>{{ .Title }}</h4>
                           </a>
                         </div>
                         <div class="arrow">
                            <a href="{{ .Permalink }}">
                               <span class="lnr text-white ti-arrow-right"></span>
                            </a>
                         </div>
                         <div class="thumb">
                            <a href="{{ .Permalink }}">
                               <img class="/img-fluid" src="/img/post/next.png" alt="">
                            </a>
                         </div>
                      </div>
                      {{ end }}
                     </div>
                </div>
             </div>
            <div class="blog-author">
               <div class="media align-items-center">
                  <img src="/img/blog/author.png" alt="">
                  <div class="media-body">
                     <a href="#">
                        <h4>Harvard milan</h4>
                     </a>
                     <p>Second divided from form fish beast made. Every of seas all gathered use saying you're, he
                        our dominion twon Second divided from</p>
                  </div>
               </div>
            </div>
            <script src="https://giscus.app/client.js"
                  data-repo="mrdotkg/40fyweb"
                  data-repo-id="R_kgDOMT7UrQ"
                  data-category="Announcements"
                  data-category-id="DIC_kwDOMT7Urc4Cgw4y"
                  data-mapping="pathname"
                  data-strict="0"
                  data-reactions-enabled="1"
                  data-emit-metadata="0"
                  data-input-position="bottom"
                  data-theme="transparent_dark"
                  data-lang="en"
                  crossorigin="anonymous"
                  async>
            </script>
          </div>
          <div class="col-lg-4">
             <div class="blog_right_sidebar">
                <aside class="single_sidebar_widget popular_post_widget">
                  <h3 class="widget_title">Recent Post</h3>
                  {{ range ( where .Site.RegularPages "Type" "posts" | first 5 ) }}
                     <div class="media post_item">
                        <img src="/img/post/post_1.png" alt="post">
                        <div class="media-body">
                           <a href="{{ .Permalink }}">
                              <h3>{{ .Title }}</h3>
                           </a>
                           <p>{{.Date| time.Format ":date_medium"}}</p>
                        </div>
                     </div>
                  {{end}}

                </aside>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!--================Blog Area end =================-->

{{ end }}
