{{ define "main" }}

<!--================Blog Area =================-->
<section class="blog_area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                {{ range .Paginator.Pages }}
                    <a href="{{ .RelPermalink }}">
                        {{ partial "article" . }}
                    </a>
                {{ end }} 
                
                {{ template "_internal/pagination.html" . }}

              </div>
          </div>
          <div class="col-lg-4">
              <div class="blog_right_sidebar">
                {{ partial "widget-categories" . }}
                {{ partial "widget-tags" . }}
                {{ partial "widget-year" . }}
              </div>
          </div>
      </div>
  </div>
</section>
<!--================Blog Area =================-->

{{ end }}