{{ define "main" }}
<section class="blog_area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog_right_sidebar">
                    {{ range .Data.Pages }}
                        <aside class="single_sidebar_widget">
                            <h4 class="widget_title"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                            <img class="author-image" src="{{ .Params.photo }}" alt=""/>
                            <p>{{ .Params.subtitle }} </p>
                            {{/*  <p>{{ .Content }}</p>  */}}
                            {{ with .Params.twitter }}
                            <a style="margin-right:30px;" href="https://twitter.com/{{ substr . 1 }}">
                                Follow on Twitter
                            </a>
                            
                          {{ end }} 
                            <ul class="list">
                                {{ $author := site.GetPage .Permalink  }}
                                {{ range $author.Pages }}
                                    <li>
                                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                                    </li>
                                {{ end  }}
                            </ul>
                        </aside>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}