{{ define "main" }}
<section class="blog_area section_padding">
    <div class="container">
        <div class="row">
            {{ range .Data.Pages }}
            <div class="col-lg-6">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget">
                        <a href="{{ .Permalink }}">
                        <div class="blog-author media align-items-center">
                            <img class="author-image" src="{{ .Params.photo }}" alt="">
                            <div class="media-body">
                                <h4>{{ .Title }}</h4>
                                <p>{{ .Params.subtitle }} </p>
                            </div>
                        </div></a>
                    </aside>
                </div>
            </div>
        {{ end }}
    </div>
</div>
</section>
{{ end }}