{{ define "main" }}

<!--================Blog Area =================-->
<section class="blog_area section_padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mb-5 mb-lg-0">
            <div class="blog_item">
                <div class="single-post single-post-area">
                    <div class="blog_details">
                        {{ .Content }}
                        {{/*  <h3 class="widget_title">Select Game(s)</h3>  */}}
                        <fieldset>
                            <legend>Welcome!</legend>
                            <div id="banner" class="blog-author media align-items-center">
                                <img id="avatar" class="" src="/img/author.png" alt="avatar">
                                <div class="media-body">
                                <h3 id="name">Xxxxx</h3>
                                <p id="username">@xxxxx</p>
                                    <a 
                                    href="https://discord.com/oauth2/authorize?client_id=820665887513247794&response_type=token&redirect_uri=https%3A%2F%2F40fy.dotkg.in%2Fplay&scope=identify"
                                    href-alt="https://discord.com/oauth2/authorize?client_id=820665887513247794&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A1313%2Fplay%2F&scope=identify"
                                    id="login"
                                    class="btn_1">
                                    Log In To Proceed
                                </a>
                                    <button 
                                    id="logout"
                                    onclick="logout();"
                                    style="display: none;"
                                    class="btn_1">Log out</button>
                                
                                </div>
                            </div>
                        </fieldset>
                        <p></p>
                        
                        <fieldset disabled>
                            <legend>Games </legend>
                            <div class="checkbox-lable">
                                <input onclick="selectGames();" class="selected_games" type="checkbox" value="Age of Empires" id="aoe" />
                                <label for="aoe">Age of Empires</label>
                            </div>
                            
                            <div class="checkbox-lable">
                                <input onclick="selectGames();" class="selected_games" type="checkbox" value="Counter Strike 2" id="cs2" />
                                <label for="cs2">Counter Strike 2</label>
                            </div>
                            <div class="checkbox-lable">
                                <input onclick="selectGames();" class="selected_games" type="checkbox" value="Battleground Mobile India" id="bgmi" />
                                <label for="bgmi">Battleground Mobile India</label>
                                </div>
                            <div class="checkbox-lable">
                                <input onclick="selectGames();" class="selected_games" type="checkbox" value="Clash of clans" id="coc" />
                                <label for="coc">Clash of clans</label>
                            </div>
                            <div class="checkbox-lable">
                                <input onclick="selectGames();" class="selected_games" type="checkbox" value="DOTA 2" id="dota" />
                                <label for="dota">DOTA 2</label>
                            </div>
                            <div class="checkbox-lable">
                                <input onclick="selectGames();" class="selected_games" type="checkbox" value="Call of Duty Mobile" id="cod" />
                                <label for="cod">Call of Duty Mobile</label>
                            </div> 
                        </fieldset>
                        <p></p>
                        <fieldset disabled>
                            <legend>Message</legend>
                            <textarea 
                                id="game_request_message" 
                                value="Hey Guys! I would like to reserve a game request with you. I play -"
                                class="single-textarea" 
                                placeholder="Message" 
                                onfocus="this.placeholder = ''" 
                                onblur="this.placeholder = 'Message'" 
                                required></textarea>
                            <p></p>
                            <button 
                                href="https://discord.com/api/webhooks/1264120016165670914/969O6hvEaf4Xhf8zlnhmcMf2Rhzxs7nbkWu9kyTT7IXt8hR7u4WnUwJv8fxSOE8IUH9r"
                                id="send"
                                class="btn_1"
                                onclick="sendMessage();">
                                Send to Our Discord Gaming Server</button>                             
                        </fieldset>
                        
                    </div>
    
                    <script>
                        function logininit(){
                            //set the welcome username string
                            document.getElementById('banner').style="background-color:" + sessionStorage.getItem('banner_color') + ";";
                            document.getElementById('name').innerText = sessionStorage.getItem('global_name');
                            document.getElementById('username').innerText = ` ${sessionStorage.getItem('username')}#${sessionStorage.getItem('discriminator')}`;
                                
                            //set the avatar image by constructing a url to access discord's cdn
                            document.getElementById("avatar").src = `https://cdn.discordapp.com/avatars/${sessionStorage.getItem('id')}/${sessionStorage.getItem('avatar')}.jpg`;
                            
                            document.getElementById("login").style = `display:none`;
                            document.getElementById("logout").style = `display:inline-block`;
                            var inputs = document.getElementsByTagName('fieldset');
                            for(var i = 0; i < inputs.length; i++) {
                                inputs[i].disabled = false;
                            }
                        }

                        window.onload = () => {
                            const fragment = new URLSearchParams(window.location.hash.slice(1));
                            const [accessToken, tokenType] = [fragment.get('access_token'), fragment.get('token_type')];
                        
                            // Getting session storage
                            var loc_username = sessionStorage.getItem('username');
                            
                            if (!accessToken) {
                                console.log("no user token")
                                if (sessionStorage.getItem('accessToken')){
                                    console.log('local session available')
                                    logininit()
                                }else{
                                    console.log('no local session')
                                    document.getElementById("login").style = `display:inline-block`;
                                    document.getElementById("logout").style = `display:none`;
                                }
                            }else{
                                console.log("logging in.")
                                document.getElementById("login").innerText="Logging In..."
                                sessionStorage.setItem('tokenType', tokenType);
                                sessionStorage.setItem('accessToken', accessToken);
                                    
                                fetch('https://discord.com/api/users/@me', {
                                    headers: {
                                        authorization: `${tokenType} ${accessToken}`,
                                    },
                                })
                                .then(result => result.json())
                                .then(response => {
                                    console.log(response);
                                    const { banner_color, username, avatar, discriminator, email, id, global_name} = response;
                                    
                                    // Setting session storage
                                    sessionStorage.setItem('banner_color', banner_color);
                                    sessionStorage.setItem('username', username);
                                    sessionStorage.setItem('discriminator', discriminator);
                                    sessionStorage.setItem('avatar', avatar);
                                    sessionStorage.setItem('email', email);
                                    sessionStorage.setItem('id', id);
                                    sessionStorage.setItem('global_name',global_name);
                                    logininit();
                                
                                }).catch(console.error);
                            }
                        };
                        function sendMessage() {
                            document.getElementById("send").innerText="Sending..."
                                
                            const request = new XMLHttpRequest();
                            request.open("POST", "https://discord.com/api/webhooks/1264120016165670914/969O6hvEaf4Xhf8zlnhmcMf2Rhzxs7nbkWu9kyTT7IXt8hR7u4WnUwJv8fxSOE8IUH9r");
                      
                            request.setRequestHeader('Content-type', 'application/json');
                      
                            const params = {
                              username: document.getElementById('username').innerText,
                              avatar_url: document.getElementById('avatar').src,
                              content: document.getElementById('game_request_message').value
                            }
                            console.log(params)
                            function disablesending(){
                                document.getElementById("send").innerText="Sent. Thanks! We've your id."
                                document.getElementById("send").removeAttribute("onclick");
                            }
                            request.onreadystatechange = disablesending;
                            request.send(JSON.stringify(params));
                        }
                        function selectGames(){
                            var games = ""
                            var inputs = document.getElementsByClassName('selected_games');
                            for(var i = 0; i < inputs.length; i++) {
                                if(inputs[i].checked)
                                    games+= inputs[i].value + ", ";
                            }
                            document.getElementById('game_request_message').value = `Hey Guys! I would like to reserve a game request with you. I play - ${games.replace(/,([^,]*)$/, ".$1")}`;
                        }
                        function logout(){
                            console.log("logging out")
                            sessionStorage.clear();
                            var length=history.length;
                            history.go(-length);
                            window.location.replace('/play');

                            /*TODO: 🤯 Discord Session Token is not being revoked. why?
                            fetch('https://discord.com/api/oauth2/token/revoke', {
                                // Adding method type 
                                method: "POST",
                                headers: {
                                    'Content-Type': 'application/json',
                                    authorization: `${sessionStorage.getItem('tokenType')} ${sessionStorage.getItem('accessToken')}`,
                                },
                                body: JSON.stringify({
                                    client_id     : '',
                                    client_secret : '',
                                    grant_type    : 'access_token',
                                    access_token : sessionStorage.getItem('accessToken')
                                })
                            })
                            .then(result => { console.log(result); return result.json();})
                            .then(response => {
                                console.log(response.json);
                            }).catch(console.error);
                            */
                        }
                        function jagmag(){
                            setInterval(function(){ 
                                // toggle the class every five second
                                $('#login').toggleClass('btn_1:hover');  
                                setTimeout(function(){
                                  // toggle back after 1 second
                                  $('#login').toggleClass('btn_1:hover');  
                                },1000);
                             
                             },5000);
                        }
                    </script>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="blog_right_sidebar ">
            {{ partial "widget-help.html" . }}
            {{ partial "widget-discord.html" . }}
            </div>
        </div>
    </div>
       
    </div>
</section>
<!--================Blog Area =================-->

{{ end }}