{{ define "main" }}

<!--================Blog Area =================-->
<section class="blog_area section_padding">
  <div class="container">
      <div class="row">
        <div class="col-lg-8 mb-5 mb-lg-0">
            <div class="blog_item">
                <div class="single-post">
                    <div class="blog_details">
                        {{ .Content }}
                     </div>
                  </div>
            </div>
        </div>
        {{ partial "widget-pages.html" . }}
    </div>
  </div>
</section>
<!--================Blog Area =================-->

{{ end }}