{{ define "main" }}

<section class="section_padding">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-12 halloffame">
                <ul class="client_logo_slider owl-carousel">
                    {{ range site.Data.games }}
                    <li style="--accent-color:{{ .accentcolor }};">
                        <div class="icon"><img src="{{ .logo }}" alt=""></div>
                        <div class="title">{{ .shorttitle }}</div>
                        {{/*  <div class="descr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, impedit?</div>  */}}
                    </li>
                    {{ end }}
                </ul>
            </div>
            <div class="col-md-3"></div>
            {{ with site.Data.meta.banner }}
            <div class="brand col-lg-6 text-center">
                <a href="/"> 
                    <img src="{{ .logo }}" height="155px" alt="#">
                </a>
            
                <h1 class="josefin-sans-700 ">{{ .headline }} </h1>
                <p>{{ .text }}</p> 
                <br>
                
                {{ range .buttons }}
                <a href="{{ .url }}" class="btn_1">{{ .text }}</a>
                {{ end }}
                
                <p style="margin-top: 20px;"><a  class="github-button nav-link"
                    href="https://github.com/mrdotkg/40fyweb"
                    data-icon="octicon-github"
                    data-size="large"
                    data-show-count="true" 
                    aria-label="Star This Project on GitHub">Star</a></p>
            </div>
            {{ end }}
            <div class="col-md-3"></div>
            
        </div>
    </div>
</section>

{{ with site.Data.meta.lfg}}
<section class="section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class=" text-center section_tittle">
                    <h1>{{ .headline }}</h1>
                    <p>{{ .text }}</p>
                    <br>
                    {{ range .buttons }}
                    <a href="{{ .url }}" class="btn_1">{{ .text }}</a> 
                    {{ end }}
                </div>
            </div>

            <div class="col-md-12 align-items-center">
                <div class="row">
                    {{ range site.Data.games }}
                    <div class="col-lg-6">
                        <div class="blog_right_sidebar">
                            <article class="single_sidebar_widget">
                                <div class="blog-author media align-items-center">
                                    <img class="author-image" src="{{ .logo }}" alt="">
                                    <div class="media-body">
                                        <h3>{{ .title }}</h3>
                                        <h4>{{ .type }}</h4>
                                        <p>{{ .frequency }}</p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    {{ end }}
                </div>  
            </div>
        </div>
    </div>
</section>
{{ end }}

{{ with site.Data.videos }}
<section class="live_streams section_padding">
    <div class="container-fluid">
        <div class=" text-center section_tittle">
            <h1>{{ .headline }}</h1>
            <p>{{ .text }}</p>
            <br>
            {{ range .buttons }}
                <a target="_blank" href="{{ .link }}" class="btn_1">{{ .text}}</a>
            {{ end }}
        </div>
        <div class="row align-items-center justify-content-between">
            <div class="col-md-10 offset-sm-1">
                <div class="live_streams_slide owl-carousel">
                    {{ range .links }}
                    <div class="live_streams_slide_img">
                        <img src="{{ .thumbnail }}" alt="">
                        <a class="video-play-button popup-youtube" 
                           target="_blank"
                           href="{{ .url }}"><span class="fas fa-play"></span>
                        </a>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}

{{ with site.Data.meta.last}}
<section class="live_streams section_padding">
    <div class="container">
        <div class=" text-center section_tittle">
            <h1>{{ .headline }}</h1>
            <p>{{ .text }}</p>
        </div>
        <div class="row align-items-center justify-content-between">
            <div class="col-md-12 video-container">
                <video autoplay playsinline loop muted>
                    <source src="{{ .videobg }}" type="video/webm" />
                </video>
                <div class="caption">
                    {{ range .buttons }}
                        <a target="_blank" href="{{ .link }}" class="btn_1">{{ .text}}</a>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}

{{ end }}