{{ define "main" }}

<!-- banner part start-->
<section class="banner_part section_padding">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-12 halloffame">
                <ul class="client_logo_slider owl-carousel">
                    <li style="--accent-color:#0B374D">
                        <div class="icon"><img src="img/client_logo/aoe4.ico" alt=""></div>
                        <div class="title">AOE IV</div>
                        {{/*  <div class="descr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, impedit?</div>  */}}
                    </li>
                    <li style="--accent-color:#1286A8">
                        <div class="icon"><img src="img/client_logo/bgmi.jpg" alt=""></div>
                        <div class="title">BGM I</div>
                        {{/*  <div class="descr">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>  */}}
                    </li>
                    <li style="--accent-color:#D2B53B">
                        <div class="icon"><img src="img/client_logo/coc.png" alt=""></div>
                        <div class="title">COC</div>
                        {{/*  <div class="descr">Lorem ipsum dolor sit.</div>  */}}
                    </li>
                    <li style="--accent-color:#DA611E">
                        <div class="icon"><img src="img/client_logo/dota2.jpg" alt=""></div>
                        <div class="title">DOTA 2</div>
                        {{/*  <div class="descr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor laboriosam odio alias.</div>  */}}
                    </li>
                    <li style="--accent-color:#AC2A1A">
                        <div class="icon"><img src="img/client_logo/cs2.ico" alt=""></div>
                        <div class="title">CS 2</div>
                        {{/*  <div class="descr">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>  */}}
                    </li>
                </ul>
            </div>
            <div class="col-lg-8 offset-sm-2 text-center">
                <h1>Clan Gaming </h1>
                <h4>#gg since 2010 </h4>
                <p>At 40FY (🗣️ as in FORTIFY), we're passsionate about Video Games, Anime and Movies. Come be part of our family to play and push together.</p> 
                <p>👇</p>
                <a href="/about" class="btn_1">More About Us</a>
            </div>
        </div>
    </div>
</section>
<!-- banner part start-->
<!--::live part start::-->
<section class="live_stareams section_padding">
    <div class="container-fluid">
        <div class=" text-center section_tittle">
            <h1>Stunning gameplays and Mindful strategies.</h1>
        </div>
        <div class="row align-items-center justify-content-between">
            <div style="margin-bottom:50px" class="col-md-7 offset-sm-1">
                <div class="live_stareams_slide owl-carousel">
                    <div class="live_stareams_slide_img">
                        <img src="img/tb1.png" alt="">
                        <div class="">
                            <a id="play-video_1" class="video-play-button" target="_blank"
                                href="https://www.youtube.com/watch?v=DHoZwt50BWs&pp=ygUENDBmeQ%3D%3D">
                                <span class="fas fa-play"></span>
                            </a>
                        </div>
                    </div>
                    <div class="live_stareams_slide_img">
                        <img src="img/tb2.png" alt="">
                        <div class="">
                            <a id="play-video_1" class="video-play-button" target="_blank"
                                href="https://youtu.be/nDUXs4f7tiY?si=nd6hGqyZuiHfV4xm">
                                <span class="fas fa-play"></span>
                            </a>
                        </div>
                    </div>
                    <div class="live_stareams_slide_img">
                        <img src="img/tb3.png" alt="">
                        <div class="">
                            <a id="play-video_1" class="video-play-button" target="_blank"
                                href="https://youtu.be/XgdTylhlo-Q?si=VjrkLVROMBtFScax">
                                <span class="fas fa-play"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="container text-center">
                    <h3>#LIVE</h3>
                    <p>We value Team Strategy and Comradary above all. And then the rest is for fun.</p>
                    <p>👇</p>
                    <a target="_blank" href="https://www.youtube.com/@40fygaming" class="btn_1">Subscribe</a>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>
<!--::live part end::-->

<!-- use sasu part end-->
<section class="Latest_War section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class=" text-center section_tittle">
                    <h1>Looking for a Squad, that honours Committment and Comradary?</h1>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-7">
                <div class="progress-table-wrap">
                    <div class="progress-table">
                        <div class="table-row">
                            <div class="country"> <img src="/img/client_logo/bgmi.jpg" alt="flag">Custom Rooms</div>
                            <div class="visit">Everyday</div>

                        </div>
                        <div class="table-row">
                            <div class="country"> <img src="/img/client_logo/cod.jpg" alt="flag">Frontline</div>
                            <div class="visit">Everyday</div>

                        </div>
                        <div class="table-row">
                            <div class="country"> <img src="/img/client_logo/dota2.jpg" alt="flag">Multiplayer</div>
                            <div class="visit">Everyday</div>

                        </div>
                        <div class="table-row">
                            <div class="country"> <img src="/img/client_logo/cs2.ico" alt="flag">Competetives</div>
                            <div class="visit">Only on Saturday | Sunday</div>

                        </div>
                        <div class="table-row">
                            <div class="country"> <img src="/img/client_logo/aoe4.png" alt="flag">Multiplayer</div>
                            <div class="visit">Only on Sundays</div>

                        </div>
                        <div class="table-row">
                            <div class="country"> <img src="/img/client_logo/coc.png" alt="flag">Clan Wars</div>
                            <div class="visit">Only on Sundays</div>
                        
                        </div>
                        
                </div>
                </div>
            </div>
            <div class="col-md-5 container text-center">
                <h3>#LFG</h3>
                <p>Participate in the competetives with skilled & serious gamers with committment & comradary.</p>
                <p>👇</p>
                <a href="/guidelines" class="btn_1">Rules & Guidelines</a> 
            </div>
        </div>
    </div>
</section>
<!-- use sasu part end-->


<!-- about_us part start-->
<section class="about_us">
    <div class="container">
        <div class=" text-center section_tittle">
            <h1>Read blogs,  watch videos. Learn and Rank up with your Friends.</h1>
        </div>
        <div class="row align-items-center justify-content-between">
            <div style="margin-bottom:50px" class="col-md-7">
                <video autoplay width="90%" playsinline loop muted>
                    <source src="/img/cs2-gp.webm" type="video/webm" />
                </video>
            </div>
            <div class="col-md-5 container text-center">
                <h3>#OP</h3>
                <p>Multiplayer Team Games push the adranaline level. Bring your squad. Let's do this. </p>
                <p>👇</p>
                <a target="_blank" href="https://www.youtube.com/watch?v=XgdTylhlo-Q" class="btn_1">Watch More</a>
            </div>
        </div>
    </div>
</section>
<!-- about_us part end-->

{{ end }}