{{ define "main" }}

<!-- banner part start-->
<section class="banner_part">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 col-md-8">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <h1>40FY Gaming</h1>
                        <p>We at 40FY (as in FORTIFY) Gaming, are enthusiast about Anime, Video Games and Movies. Come be part of our family to play and watch together and share stories.</p>
                        <a href="#" class="btn_1">More About Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner part start-->

<!--::client logo part end::-->
<section class="client_logo padding_bottom ">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="client_logo_slider owl-carousel d-flex justify-content-between">
                    <div class="single_client_logo">
                        <img src="img/client_logo/aoe4.png" alt="">
                    </div>
                    <div class="single_client_logo">
                        <img src="img/client_logo/cs2.ico" alt="">
                    </div>
                    <div class="single_client_logo">
                        <img src="img/client_logo/dota2.jpg" alt="">
                    </div>
                    <div class="single_client_logo">
                        <img src="img/client_logo/coc.png" alt="">
                    </div>
                    <div class="single_client_logo">
                        <img src="img/client_logo/cod.jpg" alt="">
                    </div>
                    <div class="single_client_logo">
                        <img src="img/client_logo/bgmi.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--::client logo part end::-->

<!-- about_us part start-->
<section class="about_us section_padding">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="section_tittle text-center">
                <h2></h2>
            </div>
            <div class="col-xl-6">
                <video autoplay width="100%" playsinline loop muted>
                    <source src="/img/cs2-gp.webm" type="video/webm" />
                </video>
            </div>
            <div class="col-xl-6">
                <div class="about_us_text">
                    <h2>.mindful strategies<br>[ OP ] </h2>
                    <p>Multiplayer Team Games push the adranaline level, in situations. Bring your squad to power up competetion and challenges. </p>
                    <a href="#" class="btn_1">Watch Tutorials</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about_us part end-->

<!--::live part start::-->
<section class="live_stareams padding_bottom">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-3 offset-sm-1">
                <div class="live_stareams_text">
                    <h2> .stunning games<br>[ LIVE ] </h2>
                    <p> Gaming is an art. We value Team Strategy and Comradary above all. And then the rest is for fun.</p>
                    <br>
                    <a href="#" class="btn_1">Subscribe on YouTube</a>
                </div>
            </div>
            <div class="col-md-7 offset-sm-1">
                <div class="live_stareams_slide owl-carousel">
                    <div class="live_stareams_slide_img">
                        <img src="img/livestream_thumbnail1.jpg" alt="">
                        <div class="">
                            <a id="play-video_1" class="video-play-button" target="_blank"
                                href="https://www.youtube.com/watch?v=DHoZwt50BWs&pp=ygUENDBmeQ%3D%3D">
                                <span class="fas fa-play">YT</span>
                            </a>
                        </div>
                    </div>
                    <div class="live_stareams_slide_img">
                        <img src="img/livestream_thumbnail2.jpg" alt="">
                        <div class="">
                            <a id="play-video_1" class="video-play-button" target="_blank"
                                href="https://youtu.be/nDUXs4f7tiY?si=nd6hGqyZuiHfV4xm">
                                <span class="fas fa-play">YT</span>
                            </a>
                        </div>
                    </div>
                    <div class="live_stareams_slide_img">
                        <img src="img/livestream_thumbnail3.jpg" alt="">
                        <div class="">
                            <a id="play-video_1" class="video-play-button" target="_blank"
                                href="https://youtu.be/XgdTylhlo-Q?si=VjrkLVROMBtFScax">
                                <span class="fas fa-play">YT</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--::live part end::-->

<!-- use sasu part end-->
<section class="Latest_War section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section_tittle text-center">
                    <h2>.competetive matches<br>[ GG ] </h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="progress-table-wrap">
                    <div class="progress-table">
                        <div class="table-row">
                            <div class="country"> <img src="/img/client_logo/bgmi.jpg" alt="flag">Custom Rooms</div>
                            <div class="visit">Everyday</div>

                        </div>
                        <div class="table-row">
                            <div class="country"> <img src="/img/client_logo/cod.jpg" alt="flag">Frontline</div>
                            <div class="visit">Everyday</div>

                        </div>
                        <div class="table-row">
                            <div class="country"> <img src="/img/client_logo/dota2.jpg" alt="flag">Multiplayer</div>
                            <div class="visit">Everyday</div>

                        </div>
                        <div class="table-row">
                            <div class="country"> <img src="/img/client_logo/cs2.ico" alt="flag">Competetives</div>
                            <div class="visit">Only on Saturday | Sunday</div>

                        </div>
                        <div class="table-row">
                            <div class="country"> <img src="/img/client_logo/aoe4.png" alt="flag">Multiplayer</div>
                            <div class="visit">Only on Sundays</div>

                        </div>
                        <div class="table-row">
                            <div class="country"> <img src="/img/client_logo/coc.png" alt="flag">Clan Wars</div>
                            <div class="visit">Only on Sundays</div>
                        
                        </div>
                        
                </div>
                </div>
            </div>
            <div class="col-lg-6" style="margin-top: 20px;">
                <h3>LFG - looking for a group?</h3>
                <p>Participate in the competetive room matches and clan wars with skilled and serious gamers with 100% committment and comradary.</p>
                <br>
                <a href="#" class="btn_1">Rules & Guidelines</a> 
            </div>
        </div>
    </div>
</section>
<!-- use sasu part end-->

{{ end }}