header.animated nav a.btn_1{
    border: 1px solid; 
}

.blog_item {
    margin-bottom: 100px;
}

.main_menu .main-menu-item {
    justify-content: right;
}

.blog_right_sidebar .single_sidebar_widget {
    background: currentColor;
}

.blog_area h1, .blog_area h2, .blog_area h3, .blog_area h4, .blog_area h5, .blog_area h6, .blog_area p, .blog_area a {
    color: white !important;
}

.blog_right_sidebar input, .blog_right_sidebar .search_widget .input-group button {
    background-color: transparent;
}
.pagination .page-item a {
    background: transparent;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff !important;
    background-color: #ff0000 !important;
    border-color: #ff0000 !important;
}
.blog_right_sidebar  .form-control:focus {
    border-color: #f0e9ff;
    color: white !important;
    background-color: transparent !important;
}
.footer_part .single_footer_part .mail_part .button-contactForm {
    margin: 2px;
}

 .breadcrumb .breadcrumb_iner {
    height: 250px;
}
.breadcrumb .breadcrumb_iner h2{
    font-size: 60px;
    margin-top: 50px;
}
.single-post-area .quotes {
    background: transparent;
}
.single-post-area .blog-author {
    background: rgb(0, 0, 0, 0.2);
}

.breadcrumb{
    /* background-color: transparent; */
    /* z-index: 0; */
}
.section_padding {
    /* margin: -150px; */
    /* padding: 0px !important; */
}
.war_text_item img {
    max-width: 75px !important;
}
.main_menu .main-menu-item ul li .nav-link:hover {
    color: yellow !important;
}
.single_page_menu .main-menu-item .nav-item a:hover:before {
    width: 0;
}
.dropdown .dropdown-item:hover {
    color: yellow !important;
}
.page-item.disabled .page-link {
    background-color: transparent;
    opacity: 0.2;
}
.pagination {
    justify-content: center;

    li:nth-child(3) {
      margin-left: 1.0rem;
    }
    li:nth-last-child(2) {
      margin-left: 1.0rem;
    }
  }
  @media (max-width: 549.98px) {
    .pagination {
      li:first-child,
      li:nth-child(2),
      li:last-child,
      li:nth-last-child(2) {
        display: none;
      }
    }
    .pagination {
      li:nth-child(3) {  
        margin-left: 0;
      }
    }
  }
  @media (max-width: 399.98px) {
    .pagination {
      font-size: 0.7rem;
    }
  }