header.animated nav a.btn_1{
    border: 1px solid; 
}

.blog_item {
    margin-bottom: 100px;
}

.main_menu .main-menu-item {
    justify-content: right;
}

.blog_right_sidebar .single_sidebar_widget {
    background: currentColor;
}

.blog_area h1, .blog_area h2, .blog_area h3, .blog_area h4, .blog_area h5, .blog_area h6, .blog_area p, .blog_area a {
    color: white !important;
}

.blog_right_sidebar input, .blog_right_sidebar .search_widget .input-group button {
    background-color: transparent;
}
.pagination .page-item a {
    background: transparent;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff !important;
    background-color: #ff0000 !important;
    border-color: #ff0000 !important;
}
.blog_right_sidebar  .form-control:focus {
    border-color: #f0e9ff;
    color: white !important;
    background-color: transparent !important;
}
.footer_part .single_footer_part .mail_part .button-contactForm {
    margin: 2px;
}
.breadcrumb{
    padding: 1rem 0rem;
}
.breadcrumb .breadcrumb_iner {
    height: 300px;
}
.breadcrumb .breadcrumb_iner h2{
    font-size: 35px !important;
    margin-top: 50px;
}
.single-post-area .quotes {
    background: transparent;
}
.single-post-area .blog-author {
    background: rgb(0, 0, 0, 0.2);
    margin: 10px 0;
    padding: 10px 0;
}
.war_text_item img {
    max-width: 75px !important;
}
.main_menu .main-menu-item ul li .nav-link:hover {
    color: white !important;
}
.single_page_menu .main-menu-item .nav-item a:hover:before {
    width: 0;
}
/* .dropdown .dropdown-item:hover {
    color: yellow !important;
} */
.page-item.disabled .page-link {
    background-color: transparent;
    opacity: 0.2;
}
.pagination {
    justify-content: center;
    li:nth-child(3) {
        margin-left: 1.0rem;
    }
    li:nth-last-child(2) {
        margin-left: 1.0rem;
    }
}
@media (max-width: 549.98px) {
.pagination {
    li:first-child,
    li:nth-child(2),
    li:last-child,
    li:nth-last-child(2) {
    display: none;
    }
}
.pagination {
    li:nth-child(3) {  
    margin-left: 0;
    }
}
}
@media (max-width: 399.98px) {
.pagination {
    font-size: 0.7rem;
}
}
.footer_part .single_footer_part a {
    color: red;
}
.blog_right_sidebar .tag_cloud_widget ul li a {
    background-color: transparent;
}
.blog_right_sidebar .post_category_widget ul li a:hover {
    background: #ff0000;
}
.blog_area a:hover {
    color: #ff0000 !important;
}
.thumb {
    margin-right: 20px;
    background: #000;
}
.single-post-area .blog_details {
    padding-top: 0px;
}
.navigation-top{
    margin-top: 40px;
    margin-bottom: 5px;
}
.single-post-area .navigation-area {
    border-bottom: 1px solid #eee;
    padding-bottom: 30px;
    margin-top: 30px;
}
.single-post-area .blog-author img {
    margin: 0 10px;
}
.breadcrumb .breadcrumb_iner .breadcrumb_iner_item h2 {
    text-transform: none;
}
.single-post-area .navigation-area h4 {
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 1; /* number of lines to show */
-webkit-box-orient: vertical;
}

.single-post-area .navigation-area img {
    max-width: unset;
}
.breadcrumb_bg {
    /* background-image: unset; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: purple; */
}
.progress-table .table-row .country img {
    margin-right: 15px;
    width: inherit;
}

.progress-table {
    background-color:rgb(0, 0, 0, 0.0);
    color: white;
}
.progress-table .visit{
    width: 30%;
}
.progress-table-wrap{
    overflow-x: auto;
}

.progress-table .table-row {
    /* padding: 15px 0; */
    border-top: unset;
    /* display: flex; */
}
@media only screen and (max-width: 991px) {
    .navbar-collapse {
        background-color: #212529;
     }
}
@media (max-width: 991px) {
    .main_menu .main-menu-item .nav-item .nav-link {
        /* padding: 5px 15px !important; */
        color: #fff;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .banner_part .banner_text h1 {
        font-size: 40px;
    }    
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .navbar-brand img {
        /* max-width: 100px; */
        right: 100px;
    }
}

.author-image {
    border-radius: 50%;
    max-width: 100px;
}
.footer_part .single_footer_part .mail_part input {
    font-size: 15px;
}
body {
    height: unset;
    max-height: 100% !important;
}

/* Blog Post CSS */
.single-post .feature-img {
    padding-bottom: 20px;
}
.single-post .blog_details p img {
    display: block;
    float: none;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.single-post .blog_details li,
.single-post .blog_details table,
.single-post .blog_details dt {
    color: white;
    font-family: "Poppins", sans-serif;
}

.single-post .blog_details pre {
    color: rgba(255, 255, 255, 0.715);
    padding: 10px;
}

.single-post .blog_details pre code{
    color: var(--bs-code-color)
}

.single-post .blog_details ul li {
    font-family: "Poppins", sans-serif;
    position: relative;
    padding-left: 30px;
    line-height: 1.82em !important;
}

.single-post .blog_details ul li:before {
    content: "";
    position: absolute;
    border: 2px solid #ff0000;
    background: #fff;
    top: 9px;
    left: 0;
    border-radius: 50%;
}

.single-post .blog_details ol {
    padding-left: 30px;
}

.single-post .blog_details ol li::marker {
    color: red;
}
.single-post .blog_details ol li {
    /* list-style-type: decimal-leading-zero; */
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    line-height: 1.82em !important;
}
.single-post .blog_details blockquote {
    padding: 20px 30px;
    /* background: #f9f9ff; */
    border-left: 2px solid #ff0000;
}
.single-post hr{
    border-top: 1px solid rgba(255, 255, 255, .1);
}

/* Table */

table {
    margin: 20px auto;
    width: 100%;
    border-spacing:0;
    border-collapse: collapse;
    /* background-color: #fff; */
}
@media only screen and (min-width: 768px) {
    table {
        margin: 30px auto;
    }
}
@media only screen and (min-width: 1024px) {
    table {
        max-width: 80%;
    }
}
@media only screen and (min-width: 1220px) {
    table {
        margin: 40px auto;
        max-width: 75%;
    }
}
@media only screen and (min-width: 1600px) {
    table {
        max-width: 70%;
    }
}
.table-wrap {
    display: block;
    width: 100%;
    overflow-x: auto;
}
table {
    min-width: 600px;
    border: 2px solid #2a2f36;
}
table thead {
    background: #2a2f36;
    color: #fff;
    text-align: left;
    font-weight: 600;
}
table thead th {
    font-weight: 600;
}
table td,
table th {
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
}
@media only screen and (min-width: 768px) {
    table td,
    table th {
        padding: 15px;
    }
}
@media only screen and (min-width: 1220px) {
    table td,
    table th {
        padding: 20px;
    }
}
table tr:nth-child(2n) {
    background: #00000092;
}

.single_footer_part .footer_icon.social_icon {
    float: left;
    margin: 10px 0;
}

.single_sidebar_widget .navigation-top {
    /* padding-top: 15px; */
    margin-top: 10px;
    margin-bottom: 30px; 
    border-top: unset;
    border-bottom: 1px solid #f0e9ff;
}
.blog_right_sidebar .widget_title {
    margin-bottom: 20px;
}

.fa-whatsapp{
    color: greenyellow !important;
}

.fa-youtube{
    color: red !important;
}
.fa-reddit{
    color: orangered !important;
}
.fa-facebook-f{
    color: lightblue !important;
}
.fa-steam{
    color: lightslategray !important;
}
.fa-linkedin{
    color: skyblue !important;
}
.fa-github{
    color: White !important;
}
.fa-instagram{
    color: purple !important;
}
.fa-discord{
    color: cyan !important;
}
.fa-twitter{
    color: skyblue !important;
}