{{ define "main" }}

<!--================Blog Area =================-->
<section class="blog_area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog_right_sidebar">
                    {{ partial "widget-year" . }}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    {{ partial "widget-categories" . }}
                    {{ partial "widget-tags" . }}
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Area =================-->

{{/*  {{ template "_internal/pagination.html" . }}  */}}

{{ end }}
